*{
    margin:0;
    padding:0;
}

main{
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
}

.center{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 5%;
    gap: 5%;
    min-width: 1400px;
    height: 800px;
}

.logo img{
    margin-top: 5%;
    margin-left: 5%;    
}
.box{
    flex-basis: 100%;
}

.box2{
    flex: none;
    height: 60%;
    width: 25%;
}

.social_media{
    align-self:flex-end;
    width: 400px;
    height: 100px;
}

.social_media img{
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    background-color: rgb(194, 3, 194, 0.1);
    background-blend-mode: multiply;
    margin-right: 5%;
}

p {
    width: 400px;
    color: white;
    line-height: 1.5;
}

h1 {
    color: white;
}

#register {

    border-style: solid;
    width: 30%;
    padding: 3%;
    border-radius: 40px;
    text-align: center;
    background-color: white;
    color: hsl(257, 40%, 49%);
}
